.nav-link {
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
p {
    color: white;
}
.link-primary {
    color: white !important;
}
.link-primary:hover {
    color: #fb54c6 !important;
}
.bg-primary {
    color: #2d446e !important;
}
.bg-secondary {
    color: #fb54c6 !important;
}