.nav-link {
    color: white;
    font-size: larger;
}
.navbar-nav .nav-link.active {
    color: white;
}
p {
    color: #2d446e !important;
}
.p-secondary {
    color: white !important;
}
.link-primary {
    color: white !important;
}
.link-primary:hover {
    color: #fb54c6 !important;
}
.bg-primary {
    background-color: #2d446e !important;
}
.bg-secondary {
    background-color: #fb54c6 !important;
}
.bg-secondary-subtle {
    background-color: #f062c3 !important;
}
.bg-primary-subtle {
    background-color: #48546a !important;
}
h3 {
    color: #2d446e !important;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
b {
    padding-top: 4em;
}
#cardlead:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s;
}
@media (max-width: 600px)
 {
    b {
        padding-top: 1em;
    }
   .image_container {
        display: inline !important;
    }
    .fixedHeightImg > img {
        height: 40rem;
    }
    .w-50 {
        width: 100% !important;
    }
    #carousel_index {
        height: 14rem !important;
    }
    #footer_mobile {
        justify-content: center !important;
    }
    #footer_mobile > a > img {
        margin-left: 0 !important;
    }
    #contact {
        padding-left: 0 !important;
        text-align: center;
    }
    #product div {
        justify-content: center !important;
    }
 }

.info__product {
    font-size: 2em;
    text-align: center;
}
.text__product {
    font-size: 1.5em;
    text-align: center;
}
#background__image {
    background: url(./images/site-mmk-2020-andaimes-2.jpg) top center no-repeat; background-attachment: fixed;
    position: relative;
    height: 400px;
}
#background__image2 {
    background: url(./images/site-mmk-2020-andaimes-2.jpg);
    filter: grayscale(10);
}
#logowhats {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
}
#contact {
    height: 500px;
    background-image:url(./images/happy-female-call-center-agent-wearing-headset-while-working-in-the-office.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 4rem;
}
#contact > p {
    color: black !important;
    margin-top: 3rem;
    font-size: larger;
}
#contact > #p_contact {
    color: black !important;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: larger;
}
#contact > h3 {
    padding-top:5rem;
    color: black !important;
}
.text__about {
    width: 40%;
}
.imagem_galeria {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color:#ee87cd;
}
::-webkit-scrollbar {
    background-color: #3e4c66;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#fb54c6;
}
.init-hidden {
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off {
    opacity: 1;
}

.fixedHeightImg > img {
    max-height: 45rem;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
.carousel-inner {
    height: 45rem;
}
#navega {
    border: none !important;
}