.nav-link {
    color: white;
    font-size: larger;
}
.navbar-nav .nav-link.active {
    color: white;
}
p {
    color: #2d446e !important;
}
.p-secondary {
    color: white !important;
}
.link-primary {
    color: white !important;
}
.link-primary:hover {
    color: #fb54c6 !important;
}
.bg-primary {
    background-color: #2d446e !important;
}
.bg-secondary {
    background-color: #fb54c6 !important;
}
.bg-secondary-subtle {
    background-color: #f062c3 !important;
}
.bg-primary-subtle {
    background-color: #48546a !important;
}
h3 {
    color: #2d446e !important;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#background__image {
    background: url(./images/site-mmk-2020-andaimes-2.jpg) top center no-repeat; background-attachment: fixed; position: relative; padding: 270px 0px;
}
#background__image2 {
    background: url(./images/site-mmk-2020-andaime-fachadeiro-1.jpg);
    filter: grayscale(15);
}
#logowhats {
    position: fixed;
    bottom: 75px;
    right: 30px;
    z-index: 99;
}
.text__about {
    width: 40%;
}
#carousel {
    height:;
}