.nav-link {
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
p {
    color: white;
}
.link-primary {
    color: white !important;
}
.link-primary:hover {
    color: #fb54c6 !important;
}
.bg-primary {
    background-color: #2d446e !important;
}
.bg-secondary {
    background-color: #fb54c6 !important;
}
.bg-secondary-subtle {
    background-color: #ef95d3 !important;
}
.bg-primary-subtle {
    background-color: #48546a !important;
}