.nav-link {
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
background-color {
    color: pink;
}
p {
    color: white;
}
.--bs-nav-link-hover-color {
    color: pink;
}
.nav .--bs-link-hover-color {
    color: pink;
}
.link-secondary {
    color: pink !important;
}
