.nav-link {
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
background-color {
    color: pink;
}
p {
    color: white;
}
a:hover {
    color: pink;
}
.--bs-nav-link-hover-color {
    color: pink;
}