.nav-link {
    color: white;
}
.navbar-nav .nav-link.active {
    color: white;
}
p {
    color: white;
}
.link-primary {
    color: white !important;
}
.link-primary:hover {
    color: blueviolet !important;
}